@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  align-items: center;
  background: #000;
}

.uu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

.uu::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, #302b63, #000);
}

.uu .signin {
  position: absolute;
  width: 350px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 62px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.uu .signin .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.uu .signin .content h2 {
  font-size: 2em;
  color: #ffffff;
  text-transform: uppercase;
}

.uu .signin .content .form {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.uu .signin .content .form .inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.uu .signin .content .form .inputBox input {
  position: relative;
  width: 130%;
  height: 30px;
  background: #e0dede;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #070505;
  font-weight: 500;
  font-size: 1em;
}

.uu .signin .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;

}

.signin .content .form .inputBox input:focus~i,
.signin .content .form .inputBox input:valid~i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #000000;
}

.signin .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signin .content .form .links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.inp-btn {
  width: 150%;
  height: 35px;
  justify-content: center;
  display: flex;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
  align-items: center;
  margin-left: -35px;
}

.btn1:hover {
  background: #9d8eb9;
}

.g-btn {
  margin-left: -35px;
  width: 150% !important;
  /* height: 35px !important; */
  justify-content: center !important;
  /* display: flex !important; */
  color: #fff !important;
  background: #573b8a !important;
  font-size: 1em !important;
  font-weight: bold !important;
  margin-top: 20px !important;
  outline: none !important;
  border: none !important;
  border-radius: 5px !important;
  transition: .2s ease-in !important;
  cursor: pointer !important;
  align-items: center !important;
}